body {
	background-color: #333333;
	color: #bbbbbb;
	font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 125%;
}

#main {padding: 1em;}

h1 {
	color: #ffffff;
	font-weight: bold;
	font-size: 3.6em;
	text-align: center;
	margin-bottom: 1em;
	text-transform: uppercase;
}


h2 {
	color: #ffffff;
	font-weight: bold;
	font-size: 2.4em;
	text-align: center;
	margin-bottom: 1em;
	text-transform: uppercase;
}

.message_text {
	font-size: 1.8em;
	text-align: center;
}

div.category {
	width: 50%;
	float: left;
}

div.category.bright h2, div.category.bright li {
	color: #f28f20;
}


div.category.dark h2, div.category.dark li {
	color: #cac98f;
}

div.category ul.messages{
 margin: 1em 1em 1em 0;
}

div.category ul.messages li {
	margin-bottom: 1em;
}
