<% @categories.each do |category| %>
	<div class="<%= category.name.downcase %> category">
		<h2><%= category.name %></h2>
		<ul class="messages">
			<% category.messages.each do |message| %>
				<li><%= message.text %></li>
			<% end %>
		</ul>
	</div>
<% end %>