<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>How bright are we?</title>
  <%= stylesheet_link_tag %w(reset application), :media => "all" %>
  <%= javascript_include_tag %w(jquery-1.4.2.min application) %>

</head>
<body>
	<h1>How bright are we?</h1>
	<div id="main">
		<%= yield %>
	</div>
</body>
</html>
